@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

#pkmninfo {
    font-family: 'JetBrains Mono', monospace;
    width: 49%;
    max-width: 49%;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    }
