@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

#types {
    font-family: 'JetBrains Mono', monospace;
    position: absolute;
    top: 320px;
    font-size: 18px;
    width: 40%;
    max-height: 600px;    
    }
