
#container {
    background-image: url(../../frontend/pokedexwallpaper.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    height: 100%;
    /* min-width: 550px;
    max-width: 1585px; */

    width: 1347px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

@media screen and (min-width: 1347px) {
    #container {
         width: 1347px; 
}
}

@media screen and (max-width:768px) {
    #container {
        width:768px;
    }
    
}

body {
    margin: 0;
    min-width: 850px;
}

#info-container {
    height: 22vw;
    max-width: 1330px;
}

#content-container {
    position: relative;
    margin: 22% 0 0 5%;
}