
#container {
    background-image: url(../../frontend/pokedex.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

body {
    margin: 0;
    min-width: 850px;
}

#info-container {
    height: 10%;
    min-width: auto;
    max-width: 1330px;
}

#content-container {
    position: relative;
    margin: 22% 0 0 5%;
}